
@font-face {
 font-family: myfont;
 src: url("../fonts/DroidKufi-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: light2;
 src: url("../fonts/DroidKufi-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: light3;
 src: url("../fonts/DroidKufi-Regular.woff") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: medium;
 src: url("../fonts/2.eot") /* EOT file for IE */
}
@font-face {
 font-family: medium;
 src: url("../fonts/2.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: bold;
 src: url("../fonts/3.eot") /* EOT file for IE */
}
@font-face {
 font-family: bold;
 src: url("../fonts/3.ttf") /* TTF file for CSS3 browsers */
}
/* body,div,td,span,a,h1,h2,h3,h4,h5,h6,input,select,textarea,p,label,dt {
	font-family:myfont !important;
} */
/* td{
	font-size:14px !important;
} */
body{
    background: #fbfbfb;
    font-family: myfont , light2 ,light3,medium,medium,bold ,bold;
}
.employee{
    border-radius: 10px;
     box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
     border: 0;
     padding: 50px;
 }
 .rate {
     height: 46px;
     padding: 0 10px;
 }
 .rate:not(:checked) > input {
     position:absolute;
     top:-9999px;
 }
 .rate:not(:checked) > label {
     float:right;
     width:1em;
     overflow:hidden;
     white-space:nowrap;
     cursor:pointer;
     font-size:30px;
     color:#ccc;
 }
 label{
     font-weight: bolder !important;
     padding-bottom: 5px;
 }
 .rate:not(:checked) > label:before {
     content: ' ★ ';
 }
 .rate > input:checked ~ label {
     color: #ffc700;
 }
 .rate:not(:checked) > label:hover,
 .rate:not(:checked) > label:hover ~ label {
     color: #deb217;
 }
 .rate > input:checked + label:hover,
 .rate > input:checked + label:hover ~ label,
 .rate > input:checked ~ label:hover,
 .rate > input:checked ~ label:hover ~ label,
 .rate > label:hover ~ input:checked ~ label {
     color: #c59b08;
 }
 /*  */
 .rate2 {
     height: 46px;
     padding: 0 10px;

 }
 .rate2:not(:checked) > input {
     position:absolute;
     top:-9999px;
 }
 .rate2:not(:checked) > label {
     float:right;
     width:1em;
     overflow:hidden;
     white-space:nowrap;
     cursor:pointer;
     font-size:30px;
     color:#ccc;
 }
 .rate2:not(:checked) > label:before {
     content: ' ★ ';
 }
 .rate2 > input:checked ~ label {
     color: #ffc700;
 }
 .rate2:not(:checked) > label:hover,
 .rate2:not(:checked) > label:hover ~ label {
     color: #deb217;
 }
 .rate2 > input:checked + label:hover,
 .rate2 > input:checked + label:hover ~ label,
 .rate2 > input:checked ~ label:hover,
 .rate2 > input:checked ~ label:hover ~ label,
 .rate2 > label:hover ~ input:checked ~ label {
     color: #c59b08;
 }
 /*  */
 .rate3 {
     height: 46px;
     padding: 0 10px;

 }
 .rate3:not(:checked) > input {
     position:absolute;
     top:-9999px;
 }
 .rate3:not(:checked) > label {
     float:right;
     width:1em;
     overflow:hidden;
     white-space:nowrap;
     cursor:pointer;
     font-size:30px;
     color:#ccc;
 }
 .rate3:not(:checked) > label:before {
     content: ' ★ ';
 }
 .rate3 > input:checked ~ label {
     color: #ffc700;
 }
 .rate3:not(:checked) > label:hover,
 .rate3:not(:checked) > label:hover ~ label {
     color: #deb217;
 }
 .rate3 > input:checked + label:hover,
 .rate3 > input:checked + label:hover ~ label,
 .rate3 > input:checked ~ label:hover,
 .rate3 > input:checked ~ label:hover ~ label,
 .rate3 > label:hover ~ input:checked ~ label {
     color: #c59b08;
 }

/* info */
.show-map,
.appointment,
.description,
.mycarousel {
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
}
.mycarousel img {
    height: 200px;
}
/* end info */
/* -------------------------------------------------nav bar dashboard */
.layout-sidebar-large .main-header{
    background:#d91b89 !important;
}
.layout-sidebar-large .main-header .header-icon:hover{
    color: #d91b89 !important;
}
.card-icon-bg-primary [class^=i-] {
    color: #d91b89 !important;
}
.icon-color{
    color: #d91b89 !important ;
}
.badge-primary {
    color: #fff !important;
    background-color: rgb(167, 4, 129) !important;
}
.ps__thumb-y{
    background-color: #d91b89 !important;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #d91b89 !important;

}
.layout-sidebar-large .main-header .menu-toggle div {
    background-color: #fff !important;
}
 .bg-color{
   background-color: #d91b89 !important;
 }
/* ------------------------------------------------- End nav bar dashboard */
/* islam */

.bg {
    background:url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: -1;
}
.bg .logo img {
    z-index: 99;
    width: 100px;
    margin-left: 50px;
}

.bg .logo img {
    z-index: 99;
    width: 100px;
    margin-left: 50px;
}
.card, .card-header {
    background: none;
    border: none;
}
.card-header {
    color: #fff;
    font-weight: bold;
}
.mytabs a{
    color: #eee;
}
.mytabs a:hover{
    text-decoration: none;
}
.myactive {
    background: rgba(0,0,0,.3);
}
.tabe {
    padding-top: 5px;
    padding-bottom: 5px;
}
.myactive a {
    color: #d91b89;
}
.card form input {
    border-radius: 0;
    border: none;
}
.card form button {
    background-image: linear-gradient(to right, #d91b89 , #ff79b7);
    border-radius: 0;
    border: none;
    color: #fff;
    font-weight: bold;
}
.card form button:hover{
    background-image: linear-gradient(to right, #d91b89 , #ff79b7);
}
.card form a {
    display: inline-block;
    color: #999;
    font-weight: bold;
    margin-left: 0;
}
.card form a:hover{
    color: #d91b89;

}
.card form span {
    color: #e1e1e1;
}
.have {
    position: relative;
}
.card form span::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #d91b89;
    width: 15%;
    left: 43%;
    top: 100%;
}


.tabs-login .nav-tabs .nav-link{
    padding: 16px 109px 16px 108px;
    border-radius: 0px;
    border: none;
    color: #ffffff59;
    font-size: 16px;
    font-weight: 600;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #d91b89;
    background-color: hsla(0, 12%, 90%, 0.22);
}
.tabs-login .nav-tabs{
    border-bottom: 2px solid #c6c7c72e;
}
.newAccount {
    color: #e1e1e1;
    font-size: 14px;
    font-weight: 600;
}
.newAccount a {
    color: #e1e1e1 !important;
}
/* footer */
.footer{
    background-color: #a7a7a72e;
    padding-bottom:20px;


}

/* all reserved */
footer {
    background-image: linear-gradient(to left, #d91b89 , #ff79b7);
    padding: 8px;
    padding-bottom: 1px;
    color: #fff;
    width: 100%;

}
footer p {
    margin: 0;
    font-size: 14px;
}
/* end islam */
.Subscribe{
    position: relative;
}
.Subscribe input{
height: 50px;
border-radius: 30px;
width: 250px;
outline: none;
border: 1px solid #3a38382e ;
background-color: #e9ebed;
padding-left: 30px;
padding-right: 30px;
font-size: 12px;
font-weight: bold;
color: #6c757d;
}
.Subscribe button{
    padding: 13px 26px;
    border: none;
    position: absolute;
    right: 200px;
    top: 0;
    border-radius: 20px 0px 0px 20px;
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    cursor: pointer;
    outline: 0;
}
.btn-top{
    position: fixed;
    bottom: 60px;
    right:20px;
    height: 50px;
    width: 50px;
    z-index: 1111;
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    color: #fff;
    border: none;
    display: none;
}
.social span{
    border-radius: 50px;
    padding-right: 2px;

}
/* ------------ description */
.description{
    background-color: #fbfbfb;
}
.description .nav-link{
    color: #484646;
    padding:0px 15px 7px 11px;
    font-size: 22px;
    font-weight: 600;
}

.description .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #fbfbfb;
    border-bottom:#d91b89  3px solid;
    color: #d91b89;
    border-radius: 0px;
}
.description .tab-content>.tab-pane{
    padding-bottom: 40px;
}

/* map */
.salon-map{
background-color: #fbfbfb;
}
.myrow {
    margin: 0;
}
.map-info {
    padding: 50px 0 0 0;

}
.p-width{
    font-size: 15px;
}
.bg-gray{
    background-color:#a7a7a72e ;
}
/* opening */
.opening{
    background-color: #fbfbfb;


}
.day{
    padding: 10px 0;
    border-bottom: solid 1px rgba(129, 127, 127, 0.1) ;
    font-size: 17px;
    font-weight: bold;
}
.bg-active{
    background-color: rgba(129, 127, 127, 0.1) ;
    color: #d91b89;

}
/* eso */
/* start salon description */
.backgr {
    /*background:url('../images/bg.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.backgr::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(#fff, #d91b89);
    opacity: 0.3;
    /* z-index: ; */
}
.top-menu {
    margin: 0;
    padding: 4px 0;
}
.top-menu img.logo {
    width: 60px;
}
.salon-nav {
    margin-top: 22px;
    padding: 5px 0;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.castom-nav{
    margin-top: 22px;
    padding: 5px 0;
    box-shadow:none !important;
}
.salon-nav li {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}
.salon-nav li i {
    font-size: 20px;
    color: #fff;
}
.salon-nav li a {
    text-align: right;
    display: inline-block;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
}
.salon-nav li a.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #999;
}
.salon-nav li a i {
    font-size: 14px;
}
/* end salon description */
/* start nav */
.backgr .navbar {
    background: rgba(255,255,255,.5) !important;
}

.backgr .navbar .nav-item {
    color: #000;
    font-weight: 600;
    margin: 0 30px;
    transition: .2s all ease-in-out;
}
.backgr .navbar .nav-item:hover,
.backgr .navbar .active {
    color: #d91b89 !important;
}
/* end nav */

/* owl carousel & detil*/
.detil{
    padding-right: 10px;

}
.detil span{
   height: 10px;
   width: 10px;
   color: #999;
   border-radius: 10px;
}
.detil a{
    color: #999;
    font-weight: bolder;
}

.title-salon img{
    max-width: 260px;

}
.title-salon img{
    max-width: 260px;

}
.title-salon h3 {
    font-weight: 900;
    display: inline-block;
}
.title-salon .checked{
    color:orange;
}
.show-rating {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.carousel-card {
    padding-top: 30px;
}
.owl-carousel .owl-item img {
    height: 300px !important;
}
#carousel1 div.owl-nav,
#carousel_salons div.owl-nav,
#carousel_in_home div.owl-nav {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  height: 0px;
  text-align: center;
  width: 0px;
  transition: 0.3s;
}
#carousel1 .owl-nav .fa,
#carousel_salons .owl-nav .fa,
#carousel_in_home .owl-nav .fa {
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
  padding: 10px 20px 10px 20px !important;
  font-size: 30px;
  border-radius: 5px;

}
#carousel1 .owl-prev,
.owl-next,
#carousel_salons .owl-prev,
.owl-next,
#carousel_in_home .owl-prev,
.owl-next {
  position: absolute;
    cursor: pointer;
}
#carousel1 .owl-prev {
  left: 20px;
  top: 120px;
}
#carousel1 .owl-next {
  right: 20px;
  top: 120px;
}
#carousel_salons .owl-prev {
  left: 50px;
  top: -55px;
}
#carousel_in_home .owl-prev {
  left: 50px;
  top: -70px;
}
#carousel_salons .owl-next {
   left: 122px;
  top: -55px;
}
#carousel_in_home .owl-next {
  left: 122px;
  top: -70px;
}
@media screen and (max-width: 767px) {
    #carousel_salons .owl-next {
        left: 70px;
        top: -55px;
    }
    #carousel_in_home .owl-next {
        left: 100px;
        top: -70px;
    }
    #carousel_salons .owl-prev {
        left: 0px;
        top: -55px;
    }
    #carousel_in_home .owl-prev {
        left: 30px;
        top: -70px;
    }
    .hed-app{
        font-size: 30px !important;
    }
}
@media screen and (max-width: 991px) {

    .hed-app{
        font-size: 30px !important;
    }
}

#carousel_salons button,
#carousel_in_home button {
  outline: none;
}
.rate2 {
  height: 46px;
  padding: 0 10px;
}

#carousel_salons .card-body,
#carousel_in_home .card-body,
#carousel3 .card-body {
    border-bottom: 6px solid #f1f1f1;
    padding: 0;
    background-color: white;
}
.text-color{
    color: #495057;
}
#carousel_in_home a {
  color: #d91b89;
  font-weight: bold;
}
#carousel_in_home a:hover {
  text-decoration: none;
}
.carousel-card .owl-item img {
  height: 170px !important;
}
.carousel-card h4 {
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 10px !important;
 }
.carousel-card p {
    font-size: 14px;
}
.carousel-card .show-rate {
  margin-top: 5px;
  margin-bottom: 5px;
}
.carousel-card .show-rate .checked {
  color: orange;
}

body {
    direction: rtl;
}
.owl-carousel {
    direction: ltr !important;
}
.main-header .header-part-right .user {
    margin-right: 0 !important;
}

/*{{-- reviews------------------ --}}
 */
 .my-reviews{
    background-color: #fff;
     box-shadow: 0px 0px 15px -9px;
 }
 .my-reviews .card{
    height: 100%;
    width: 100%;
    padding: 20px;
 }
  .my-reviews .card img{
    width: 90px;
  }
  .my-reviews .show-rate .checked{
    color: orange;
  }
  .post-info{
    font-size: 12px;
  }
  .my-reviews .show-rate span{
    font-size: 12px;
  }
  .form-reviews{
    padding: 30px;
  }
/*start page salon profile-list */
.profile-list .nav-pills .nav-link.active {
    color: #d91b89;
}
.profile-list .nav-link{
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #5a59591f;
    border-radius: 0px;
    color: black;
}
.profile-list .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #fff;
}
.img-profile .img-thumbnail{
    width: 100%;
    height: 290px;
}
.profile-list form .form-control {
    padding: 13px 33px !important;
}
.bg-icon{
    padding: 5px;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    background-color:#d91b89 ;
}
.profile-list .form-group  {
    position: relative;
}
.icon-position{
    position: absolute;
    top: 15px;
    right: 11px;
}

/* end page salon profile-list */
/*start page search filter */


.filter{
    padding: 11px 22px;
}
.filter-styl{
    background: #f6f6f6;
    padding: 11px 22px;

}
  .set-filter{
    width: 100%;
    height: auto;

  }
  .set-filter > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set-filter > a i{
    margin-top: 2px;
  }
.card-filter {
    margin: 20px 10px;
    background-color: #a7a7a72e;
    padding: 15px 13px 5px 10px;
    border-radius: 14px;
    box-shadow: #d6d4d4 0px 4px 10px 0px;
}

.price-font{
    font-size: 20px;
    font-weight: 800;
    padding-left: ;
    padding-right: ;
}
 .card-filter .card{
     max-width: 749px !important;
 }
.card-filter .card p{
    font-size: 14px;
}
 .display-block{
     display: block;
     width: 100%;
 }
  .img-pay{
      width: 50px;
  }
  .set-filter > a.active{
    color: #000;
  }
  .content-filter{
    background-color:rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f5f5f5;
    display:block;
    direction: initial;
  }
  .custom-control-label:after, .custom-control-label:before{
    left: 18px;

  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
      background-color:#d91b89 ;
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #d91b89;
    background-color: #ffff;
    border-color: #d91b89;
}
.page-link{
    color: #d91b89;
}
.page-link:hover{
    color: #d91b89;
}
  .bg-icon-filter{
    background-color:#f5f5f5;
    padding: 5px;
  }
  .content-filter p{
    padding: 10px 15px;
    margin: 0;
    color: #333;

  }

  .custom-control-label{
    position: static;
    font-size: 14px;
  }
/* end page search filter */
  .show-rate .checked {
    color: orange;
}
/*  */
.rev .checked {
    color: orange;
  }
  .head-card a {
      font-size: 13px !important;
      color: #d91b89;
  }
  .service-card button,
  #carousel3 button,
  .add-to-card button {
      background: #d91b89;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      position: relative;
  }
  .num-cart{
    position: absolute;
    top: 7px;
    right: 61px;
    width: 20px;
    background-color: #000;
    padding: 1px;
    border-radius: 50%;
    font-size: 11px;
  }
.btn-crud{
    box-shadow: -1px 4px 12px -3px #212529;
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    border: none;
}
.btn-add{
    box-shadow: 0px 3px 7px 0px #aaa;
    background-image: linear-gradient(#fbfbfb, hsl(195, 10%, 92%)) !important;
    border: none;
}
.btn-rate{
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    border: none;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 10px 50px;
}
.img-pay{
    width: 40px;
}
.h-font{
font-size: 19px;
}
.font-xsmall{
    font-size: 14px;
    color: #999;
}
.link-salon{
     color: inherit;
}
.link-salon:hover{
    text-decoration: none;
    color: inherit;
}
.img-right{

    width: 17px;
    position: absolute;
    top: -6px;
    left: 35px;
}
.pay-right{
    width: 20px;
    position: absolute;
    top: -6px;
    left: 5px;
}
.live-chat{
   margin-top: 20px;
    width: 18rem;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0px 4px 8px 1px #2125294a;
    outline: #d6d6d6 2px solid;
}
.live-chat-link:focus{
    border: none !important;
    outline: inherit !important;
    box-shadow: none;
}
#carousel3 button {
      outline: none;
      border: none;
      margin: 5px auto 10px;
      padding: 3px 12px;
  }
  .service-card p {
      margin: 0;
  }
    .p-rate{
    font-size: 13px;
    padding-bottom: 14px;
}
.butn{
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    border: none;
}
/* acording in servies Salo0n page */
 /* islaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaam */
/* acording in servies Salo0n page */
.accordion-container .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 15px 8px;
  }
.border-card{
    border: 2px solid #d91b89;
}
  .accordion-container .set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }
  .accordion-container .set > a .i-salon {
    float: left;
    font-size: 25px;
    color: #d91b89;
  }
  .accordion-container .set > a.active {
    color: #000;
}
  .accordion-container .content {

    display: none;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    background-color:#f5f5f5 ;
  }

  .accordion-container .content a {
    color: #d91b89;
  }
  .accordion-container .content i {
    color: #333;
  }

  .service-card {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  .rev .checked {
    color: orange;
  }
  .head-card a {
    font-size: 12px;
    color: #d91b89;
  }
  .service-card button,
  #carousel3 button,
  .add-to-card button {
    background: #d91b89;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 21px;
  }
  #carousel3 button {
    outline: none;
    border: none;
    margin: 5px auto 10px;
    padding: 3px 12px;
  }
  .service-card p {
    margin: 0;
  }
  /* home-content */
  .content-p {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    color: #e9ebed;
    font-size: 25px;
  }
  .accordion-container .set2 {
    margin: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: none;
}
  .accordion-container .set2 a {
    padding: 5px 15px;
}
  .dateAndTime {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .my-date [type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .custom-date {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
  }

  /* IMAGE STYLES */
  .my-date [type='radio'] + p {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px 5px;
  }

  /* CHECKED STYLES */
  .my-date [type='radio']:checked + p {
    outline: 2px solid #d91b89;
    border: 0;
  }
  .my-date label {
    width: 100%;
  }
  .date-me .dating {
    width: 100%;
  }
  .custom-p {
    border: 1px solid #ccc;
    padding: 2px;
    cursor: pointer;
  }
.my-date [type='radio']:checked + .custom-p {
    outline: 2px solid #d91b89;
    border: 0;
}

  .hidden-time,
  .hidden-date{
    display: none;
  }
  .btn_date {
    background-image: linear-gradient(to right, #d91b89 , #ff79b7);
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 11px;

  }

  #homeCarousel {
    margin-bottom: 20px;
  }
  #homeCarousel img {
    width: 100px !important;
    margin: 10px auto;
  }

  .carousel-control-next {
    right: 85%;
  }
  .content-p {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .content-abs {
    position: absolute;
    z-index: 9;
  }
  .work img {
    width: 140px;
    height: 100px;

  }
  .work {
    position: relative;
  }
  .work::after {
    content: "";
    width: 30%;
    background-color: #e1e1e1;
    height: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .store .img-app {
    width: 100%;

  }
  .btn-store {
    color: #777777;
    padding: 13px  !important;
    border-color: #dddddd !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 20px
  }
  .btn-store .btn-label,
  .btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
    font-size: 10px;
    font-weight: bold;
  }
 .btn-store .img-play-store{
     height: 30px;
     width: 25px;
  }
  .btn-store .btn-caption {
    font-size: 19px;
  }
  .btn-app {
    background-image: linear-gradient(#FF83D5, #d91b89) !important;
    color: #fff;
  }
  .btn-play {
    background: #005a5a;
    color: #fff;
  }
  .store a {
    direction: ltr;
  }
  .store a:hover {
    color: #fff;
    text-decoration: none;
  }
  .btn-caption {
    font-weight: bold;
  }
.loginWith {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: #fff !important;
}
.loginWith:hover {
    text-decoration: none;
}
.a-facebook {
    background: #3578E5;
}
.a-google {
    background: #ff5252;
}
.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.userProfile {
    margin-bottom: 0;
    margin-top: 0;
}
.userProfile li a span {
    color: #000;
}
.userProfile .dropdown-toggle::after {
    display: none;
}
.userProfile .dropdown-menu a:hover {
    background: #e1e1e1;
}
.userProfile li i {
    font-size: 20px;
    color: #fff;
}
.userProfile li a {
    text-align: right;
    display: inline-block;
    color: #000;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}
.userProfile li a.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #999;
}
.userProfile li a i {
    font-size: 11px;
    color: #444 !important;
}
.top-menu .middle {
    background: #eee;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 9px;
}
.top-menu .inf {
    border-left: 1px solid #999;
    padding: 0;
    cursor: pointer;
}
.top-menu .inf:last-child {
    border-left: none;
}
.middleForm {
    padding: 0;
    margin: 0;
}
.btnSearch {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.infMap,
.infDate{
    position: relative;
}
.hiddenMap,
.hiddenDate,
.hiddenTime{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 41px;
    right: 0px;
    background: #fff;
    display: none;
    z-index: 9999;
    -webkit-box-shadow:0 7px 20px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 7px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow:0 7px 20px 0 rgba(0, 0, 0, 0.5);
}
.hiddenDate,
.hiddenTime {
    right: 50%;
    width: 50%;
    height: auto;
}
.hiddenTimeMyDate {
    padding: 20px;
}
.userProfile .dropdown-menu {
   padding: 0;
}
.userProfile .userName {
    font-weight: bold;
    margin-left: 5px;
}
@media screen and (max-width: 1196px) {
    .tabs-login .nav-tabs .nav-link{
        border-radius: 0px;
        border: none;
        color: #ffffff59;
        font-size: 16px;
        font-weight: 600;
        width: 50%;
        padding: 11px 31px 10px 31px;
        text-align: center;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color: #d91b89;
        background-color: hsla(0, 12%, 90%, 0.22);
    }
}
  @media screen and (max-width: 768px) {
   .btn-app {
     margin-bottom: 7px;
   }
  }
/*color style font */

.font-color{
    color:#bcbdbc;
}
.read-more{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.title-styl{
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 5px;
}
.f-w{
    font-size: 16px;
    font-weight: 600;
}
.text-filter{
    font-weight: 600;
    font-size: 18px;
    color: #000 !important;
}
.custom-select{
    padding-left: 100px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/drop.jpg") no-repeat left ;
    background-size: 36px;
}
.custom-select:focus{
    box-shadow: none;
}
.color-star {
    color: #ec891d;
}
.filter .ui-widget.ui-widget-content {
    width: 137px;
    border: 1px solid #c5c5c5 !important;
}
.ui-widget-header{
    background-color:#d91b89;
    border-radius: 0;
}
#amount{
    padding: 0;
    outline: none!important;
}
.range-filter{
    padding: 0px 20px 0 20px
}
.ui-state-default{
    background: black !important;
    width: 10px !important;
    border: none ;
    border-radius: 20px;
    outline: black!important;
    padding: 0 !important;
}
.ui-state-default:focus{
    outline: none!important;
    border: none;
}
.btn_border{
    border:#d91b89 2px solid ;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer;
}
.btn_border:focus{
    outline: none;
}
.select2-container .select2-selection--single{
    height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 52px;
}
.btn-gray{
    background-color: #eee;
    margin-bottom: 20px;
}
.modal-edit{
    max-width: 666px !important;
}
.shadow{
    box-shadow: 0px 1px 7px -4px;;
    border-top: 4px solid #ff0d79;
}
.font-20{
    font-size: 20px !important;
}
.input-review{
    border: none;
    background-color: #fbfbfb;
}
/**/
.wrapper {
    display: inline-block;
    border: none;
    font-size: 14px;
    margin-top: 33px;

}

.wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.wrapper label {
    position: relative;
    float: left;
    color: #C8C8C8;
}

.wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wrapper input:checked ~ label:before {
    color: #ec891d;
}

.wrapper label:hover ~ label:before {
    color: #FFC107;
}

.wrapper label:hover:before {
    color: #ec891d;
}
.wrapper * {
    float: right;
}
.wrapper-rate input {
    display: none;
}
.wrapper-rate label {
    font-size: 12px;
}
.position-top{
    position: relative;
    top: 10px;
}

.wrapper {
    display: inline-block;
}
.wrapper * {
    float: right;
}
.filterWrapper input {
    display: none;
}
.filterWrapper label {
    font-size: 10px;
}
.move-area {
    left: 20px;
    position: absolute;
    top: 50px;
}

.dropzone .dz-size{
    display: none;
}

.dropzone .dz-message:before{
    /*font-family: 'Font Awesome 5 Free';*/
    /*content: "\f093";*/
    color: #d91b89;
}
.dropzone .dz-message{
    color: #d91b89;
}
.dropzone{
    border: 2px dashed #d91b89;
}
.footerLink h2 {
    position: relative;
    margin-bottom: 20px;
}
.footerLink h2::after {
    content: '';
    width: 150px;
    height: 2px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 40px;
    right: 0;
}
.tail-datetime-calendar {
    z-index: 9999999;
}
.myCustomDate {
    margin-top: -30px !important;
}
@keyframes ldio-734uxg38tn5 {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-734uxg38tn5 div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-734uxg38tn5 linear 1s infinite;
    background: #a80909;
    width: 12px;
    height: 24px;
    border-radius: 6px / 10.08px;
    transform-origin: 6px 52px;
}.ldio-734uxg38tn5 div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #a80909;
 }.ldio-734uxg38tn5 div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #a80909;
  }.ldio-734uxg38tn5 div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #a80909;
   }.ldio-734uxg38tn5 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #a80909;
    }.ldio-734uxg38tn5 div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #a80909;
     }.ldio-734uxg38tn5 div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #a80909;
      }.ldio-734uxg38tn5 div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #a80909;
       }.ldio-734uxg38tn5 div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #a80909;
        }.ldio-734uxg38tn5 div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #a80909;
         }.ldio-734uxg38tn5 div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #a80909;
          }.ldio-734uxg38tn5 div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #a80909;
           }.ldio-734uxg38tn5 div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #a80909;
            }
.loadingio-spinner-spinner-mwin5ubumca {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.ldio-734uxg38tn5 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-734uxg38tn5 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
.content {
    position: relative;
}
.addMemberToTeam {
    background: #d91b89;
    padding: 8px 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    left: 0;
}
.addMemberToTeam:hover {
    color: #fff;
    text-decoration: none;

}
.timeDay {
    padding-top: 30px;
}
.serviceStatus {
    margin-top: 0px;
    text-align: left;

}
.ltr-right{
    text-align: left;
}
.serviceStatus .btn,
.teamStatus .btn {
    padding: 0 12px !important;
    border-radius: 1.428rem;
    font-size: 0.8rem;
}
.teamStatus {
    margin-top: -10px !important;
}
.content-statusSalon {
    position: relative;
    overflow: hidden;
}
.statusSalon {
    position: absolute;
    top: 46px;
    left: -48px !important;
}
.statusSalon .btn {
    border-radius: 0;
    transform: rotate(-45deg);
    padding: 6px 78px !important;
}

.profile-list form .my-appoinment .form-control{
    padding: 4px 8px !important;
}
.profile-list form .my-appoinment label {
    margin-bottom: 0 !important;
}
.myAppoint {
    margin: 0 !important;
}
.num-span{
    background-color: #e9ecef;
    padding: 0px 2px;
    font-size: 12px;
    font-weight: bolder;
}
.chat{
    border: #eee 1px solid ;
}

.chat .aside_chat{
    background-color: #fff;

}
.section-top-aside{
    padding: 15px 7px 15px 0px;
    border-bottom: 2px #e9ecef solid;
}
.chat .content_chat{
    height: 595px;
    background: url("../../admin/images/backgrounds/chat-bg.svg");
    background-color: #dad7e1;
    overflow: auto;
    position: relative;
}
.chat  .img_user_profile{
    display: inline-block;
    margin-right: 10px;
}
.chat  .img_user_profile img{
    width: 40px;
    height: 40px;

}
.chat .circle-on{
   position: absolute;
    top: 28px;
    right: 32px;
    color: #11dc11;
    font-size: 13px;
}
.chat .aside_chat .search_contacts{
    border-radius: 20px;
    padding-right: 50px;

}
.chat .aside_chat .search_contacts::placeholder{
    color: #ccc;
    font-size: 13px;
}
.chat .aside_chat .icon-position{
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 18px;
    color: #ccc;
}
.chat .aside_chat .hover-user{
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}
.chat .aside_chat .hover-user:hover{
    background-color: #f0f0f0;

}
.chat .aside_chat .users-tab{
    padding: 10px 10px 10px 00px;
}
.chats_menu{
    padding: 14px 12px 10px 0px;
}
.head_content_msg{
    padding: 15px 7px 15px 0px;
    background-color: #eee;
    position: sticky;
    top: 0;
    left: 0;
}
.menu-header{
    padding: 0 0 10px 10px;
    color: #d91b89;
    font-size: 20px;
    font-weight: 800;
}
.name-User{
    font-size: 16px;
    font-weight: bold;
}
.time-msg{
    font-size: 13px;
    color: #888;
    padding-top: 4px;
    font-weight: 600;
}
.msg-text{
    font-size: 14px;
    font-weight: bold;
    color: #aaa
}
.num-msg{
    border-radius: 20px;
    background-color: #d91b89;
    color: #fff;
    padding: 0px 5px 2px 6px;
    font-size: 10px;
    font-weight: bold;
}
.active-user{
    background-image: linear-gradient(to right, #d91b89 , #ff79b7);
    color: #fff;
}
.sender{
    display: inline-flex;
    padding: 30px 20px 0px 0px;
    max-width: 400px;
}
.recipient{
    padding: 20px 0px 0px 20px;
    float: left;
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
}
.msg-sender{
    width: 100%;
}
.body-sender{
    display: inline-block;
    background-image: linear-gradient(to right, #d91b89 , #ff79b7);
    border-radius: 10px;
    padding: 11px;
    box-shadow: 0px 3px 8px 0px #aaa;
    font-size: 13px;
    color: #eee;
    font-weight: 800;
   }
.body-recipient{
    display: inline-block;
    background-color: #f8f9fa;
    border-radius: 7px;
    padding: 11px;
    box-shadow: 0px 3px 8px 0px #aaa;
    font-size: 13px;
    color: #999;
    font-weight: 800;
}
.float-styl{
    float: left;
}
.bookDate input{
    background-color: #fff !important;
}
.float-appointmaents{
    float: right;
    padding-left: 10px;
}
.styl-right{
    text-align: left;
}
.styl-left{
    text-align: right;
}
.butn:focus {
    color: #fff; 
    background-color: none;
    border-color: none;
    outline: 0;
    box-shadow: none;
 }
 .table td, .table th{
border-top: none;
 }
 .table-border{
    border: 1px solid #dee2e6;
   overflow: auto;
 }
 .bg-card{
     background-color: #e9ecef;
 }
 .table td, .table th{
    padding: 10px 0px 10px 10px;
 }
 .total-add{
     margin-top:20px;
 }
 .total-add button{
    width: 46%;
    margin: 5px;
 }
  .p_lr{
     padding-right: 15px !important;
 }
 .rev-float{
float: left;
 }
 .name-float{
    float: right;
    padding-left: 25px;
 }
  .send-styl{
     padding: 0px 57px 10px 15px;
     background-color: rgb(238, 237, 237);
 }
  .file-position{
    position: absolute;
    top: 30px;
    right: 10px;
 }
  .font-small-12{
     font-size: 12px;
 }